.favorites-container {
  padding: 30px;
  background-color: #333333;
  min-height: 100vh;
}

.favorites-title {
  color: #fff;
  margin-bottom: 20px;
}

.empty-text {
  color: #aaa;
  font-size: 18px;
  text-align: center;
  margin-top: 50px;
}

.favorites-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
}

.favorite-card {
  background-color: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 12px;
}

.favorite-poster {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.favorite-info {
  padding: 10px;
  color: #fff;
}

.favorite-name {
  font-size: 14px;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.favorite-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favorite-rating {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 13px;
}

.star-icon {
  color: gold;
}

.fav-heart {
  color: red;
  font-size: 20px;
}

.clear-all-btn {
  background-color: #ffffff;
  color: #ff0505;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  height: 35px;
  width: 120px;
  font-weight: bold;
}

.fav-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.empty-fav-img {
  height: 260px;
}

.fav-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.remove-btn {
  background-color: #060606;
  color: #ff0505;
  margin: 11px;
  cursor: pointer;
  border-radius: 4px;
  padding: 4px;
}
