.notfound-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #020617;
  color: #ffffff;
  padding: 20px;
}

.notfound-title {
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 10px;
}

.notfound-subtitle {
  font-size: 26px;
  margin-bottom: 10px;
}

.notfound-text {
  font-size: 15px;
  opacity: 0.8;
  margin-bottom: 20px;
}

.notfound-btn {
  text-decoration: none;
  background-color: #e50914; /* Netflix-style red */
  color: #ffffff;
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 14px;
}

.notfound-btn:hover {
  opacity: 0.9;
}
