.show-details-cont {
  min-height: 100vh;
  background-color: #000;
}

.show-details-banner-img {
  width: 100%;
}

.show-des {
  color: #fff;
  font-size: 25px;
  padding: 15px;
}
.show-des span {
  color: gold;
  font-size: 18px;
  text-decoration: underline;
}

.about-show {
  margin-top: 25px;
}
.back-btn {
  background-color: red;
  color: #fff;
  border: none;
  height: 30px;
  width: 110px;
  border-radius: 5px;
  font-size: 21px;
  margin-top: 18px;
  cursor: pointer;
}

.book-ticket-btn {
  background-color: #ffffff;
  color: #ef0b0b;
  border: none;
  height: 30px;
  border-radius: 5px;
  font-size: 21px;
  margin-top: 18px;
  padding: 4px;
  margin-left: 18px;
  cursor: pointer;
  font-weight: bold;
}

@media (min-width: 992px) {
  .show-details-cont {
    display: flex;
    align-items: center;
  }
  .show-details-banner-img {
    width: 40%;
    object-fit: contain;
    margin-right: 15px;
  }
  .about-show {
    font-size: 18px;
    letter-spacing: 1px;
  }
}
