.rating-star {
  font-size: 20px;
  color: gold;
}

.home-bg-container {
  background-color: #000;
  min-height: 100vh;
  padding: 10px;
  color: #fff;
}
.posters-container {
  display: flex;
  flex-direction: column;
}
.poster-card {
  list-style: none;
  margin-top: 20px;
}
.poster-img {
  height: 240px;
  width: 180px;
  margin: 5px;
  object-fit: cover;
  border-radius: 5px;
}
.category {
  font-size: 26px;
  font-weight: 600;
  color: #fff;
}

.home-banner-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff1a;
}
.home-banner-dec {
  padding: 15px;
  order: 2;
}
.home-banner-image {
  width: 100%;
  height: 300px;
  object-fit: cover; /* crops the image */
  object-position: center;
}
.home-banner-dec h1 {
  font-size: 42px;
  color: gold;
}

.watch-now-btn {
  height: 35px;
  width: 60%;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  margin-top: 25px;
}

.filter-container {
  width: 100%;
  padding: 16px;
  border-radius: 10px;
  background: #252525;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 15px;
}

.filter-search {
  width: 100%;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

.filter-title {
  font-size: 14px;
  font-weight: 600;
  margin-top: 8px;
  color: #b4b4b4;
}

.filter-list,
.filter-stars {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.filter-list li {
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 6px;
  font-size: 18px;
}

.filter-stars li {
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 6px;
  color: #ffb400;
  font-size: 26px;
  letter-spacing: 2px;
}

.filter-stars span {
  cursor: pointer;
  font-size: 21px;
  letter-spacing: 0;
  color: #fff;
}

.clear-btn {
  margin-top: 10px;
  padding: 8px;
  border: none;
  border-radius: 6px;
  background: #ff4d4f;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.filters-container {
  display: flex;
}

.poster-list {
  display: flex;
  flex-wrap: wrap;
}

.poster-link {
  text-decoration: none;
  color: #fff;
}

.rating {
  text-align: center;
}
.rating-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.star-icon {
  color: #ffb400;
  font-size: 17px;
}
.heart-icon {
  font-size: 24px;
  cursor: pointer;
}
.disclaimer {
  text-align: center;
  letter-spacing: 1px;
}
.loading-container {
  height: 50vh;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.failure-view {
  width: 80%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found-img {
  height: 200px;
}
.category-section {
  list-style: none;
}
/* Active filter item */
.active-filter {
  color: #2595f7 !important;
  border-radius: 6px;
  font-weight: 600;
  padding: 6px 12px;
  cursor: pointer;
}

/* Active search input */
.active-input {
  border: 2px solid #a2ff8d;
}

.no-results {
  height: 50vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-result-img {
  height: 250px;
}

@media (min-width: 768px) {
  .home-bg-container {
    padding: 10px 50px;
  }
  .home-banner-card {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff1a;
    margin-bottom: 55px;
    padding-left: 25px;
  }
  .home-banner-image {
    width: 70%;
    height: 350px;
    object-fit: cover;
    flex-shrink: 0;
    order: 2;
  }
  .home-banner-dec {
    order: 1;
  }

  .poster-layout {
    display: flex;
  }
  .filter-container {
    width: 300px;
    margin-right: 25px;
  }
  .filters-container {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
  }
}
