.login-container {
  height: 100vh;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.login-poster {
  height: 350px;
}
.login-form {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 15px;
  border-radius: 8px;
}

.login-input {
  height: 45px;
  width: 95%;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #b0b0b0;
  padding-left: 15px;
  background-color: #ececec;
  color: #000;
}
.login-form label {
  color: #545454;
  font-size: 13px;
  margin-bottom: 5px;
}
.login-form p {
  text-align: center;
  margin-top: 15px;
}

.login-btn {
  height: 45px;
  width: 100%;
  background: #4eaaf6;
  color: #fff;
  border: none;
  border-radius: 6px;
  margin: auto;
}
.login-site-logo {
  height: 70px;
  margin-bottom: 35px;
}

.login-logo-sm {
  display: none;
}

@media (min-width: 768px) {
  .login-logo-lg {
    display: none;
  }
  .login-logo-sm {
    display: block;
  }
  .login-container {
    flex-direction: row;
    justify-content: space-around;
  }
  .login-poster {
    height: 500px;
  }
  .login-form {
    box-shadow: 2px 2px 12px #575757;
  }
}
